img{
    height: 80px;
    width: 180px;
    color: white;
    display: inline;  
    margin-left: 10px;  
}
nav{
    text-align: center;
    position: relative;
    bottom: 80px;
    font-size: 25px;
    color: black;
}
ul li{
    display: inline;
}
li a{
    color: black;
    margin: 20px;
}
li a:hover{
    text-decoration: underline;
}
header{
    border: 2px solid black;
    height: 80px;
    background-color: white;
    width: 1336px;
}
body{
    background-color: black;
}
.main{
    width: 1336px;
    height: 600px;
    object-fit: cover;
    margin: auto;
    border: 2px solid black;
}
h2{
    text-align: center;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 8px;
}
span{
    font-family: 'futurak';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
}
.first{
    text-align: center;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    bottom: 30px;
}
.container{
    text-align: center;
}
.threepics{
    height: 120px;
    width: 230px;
    margin: 8px;
}
.buttons{
    text-align: center;
    color: rgb(255, 255, 255);
    
}
form button{
    margin: 80px;
    bottom: 70px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50pxpx;
    padding-right: 50px;
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 40px;
    text-align: center;
}
#first{
    left: 16px;
    position: relative;
}
#second{
    left: 11px;
}
#third{
    right: 1px;
}
form{
    text-align: center;
}
.secondword{
    font-family: 'futurak';
    font-style: normal;
    font-weight: bolder;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
    text-align: center;
}
h3{
    text-align: center;
}
#first{
    margin: 8px 100px;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    color: #FFFFFF;
    padding: 6px 20px;
    position: relative;
    left: 76px;
    text-decoration: none;
    top: 5px;
}
#second{
    margin: 8px 100px;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    color: #FFFFFF;
    padding: 6px 20px;
    position: relative;
    text-decoration: none;
    top: 5px;
}
#third{
    margin: 8px 100px;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    color: #FFFFFF;
    padding: 6px 20px;
    position: relative;
    right: 73px;
    text-decoration: none;
    top: 5px;
}
.mainheading{
    color: #FFFFFF;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    position: relative;
}
h1{
    color: #FFFFFF;
    text-align: center;
    position: relative;
    top: 80px;
}
.resturant{
    position: relative;
    top: 45px;
}
.discription{
    color: #FFFFFF;
    text-align: center;
    position: relative;
    top: 30px;

}
.Welcome{
    font-family: sans-serif;
}
.islamabad{
    color: red;
    letter-spacing: 8px;
    position: relative;
    top: 30px;
    margin-left: 150px;
}
.firstpicdisc{
    color: #FFFFFF;
    float: left;
    font-weight: bolder;
    margin-left: 148px;
    position: relative;
    top: 10px;
    display: inline;
}
h3{
    color: #FFFFFF  ;
    float: left;
    font-size: 30px;
    position: relative;
    left: 10px;
    display: inline;
    font-weight: lighter;
}
.location{
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    margin-top: 80px;
    margin-left: 140px;
}
.addres{
    color: #FFFFFF;
    position: absolute;
    margin-top: 90px;
    margin-left: 180px;
    font-family: sans-serif;
}
.phone{
    height: 30px;
    width: 30px;
    display: block;
    position: absolute ;
    margin-top: 120px;
    margin-left: 140px;
}
.phonenum{
    color: #FFFFFF;
    position: absolute;
    margin-top: 130px;
    margin-left: 180px;
    font-family: sans-serif;
}
.firstcity{
    height: 200px;
    width: 400px;
    float: right;
    margin-right: 180px; 
    border: 2px solid gray;
}
.secondcity{
    height: 200px;
    width: 400px;
    float: left;
    border: 2px solid gray;
    margin-left: 180px; 
    position: relative;
    top: 180px;
}
.faisalabad{
    color: red;
    float: right;
    margin-top: 70px;
    margin-right: 400px;
    letter-spacing: 8px;
}
.seconddisc{
    color: #FFFFFF;
    float: right;
    margin-left: 750px;
    margin-top: 300px;
    display: block;
    position: absolute;
    font-weight: bolder;
}
.saltn{
    float: right;
    margin-left: 1060px;
    margin-top: 322px;
    display: block;
    position: absolute;
    font-size: 30px;
}
.secondlocation{
    height: 30px;
    width: 30px;
    margin-top: 370px;
    position: absolute;
    margin-left: 180px;
}
.secondaddres{
    color: #FFFFFF;
    margin-top:380px;
    float: right;
    position: absolute;
    margin-left: 780px;
    font-family: sans-serif;
}
.secondphone{
    height: 30px;
    width: 30px;
    margin-top: 410px;
    position: absolute;
    margin-left: 180px;
}
.secondnum{
    color: #FFFFFF;
    margin-top:420px;
    float: right;
    position: absolute;
    margin-left: 780px;
    font-family: sans-serif;
}
.bhawalpur{
    color: red;
    position: absolute;
    margin-top: 550px;
    margin-left: 150px;
    letter-spacing: 8px;
}
.thirddisc{
    color: #FFFFFF;
    float: left;
    margin-top: 280px;
    margin-left: 150px;
    font-weight: bolder;
}
.pepper{
    color: #FFFFFF;
    position: absolute;
    margin-top: 600px;
    margin-left: 460px;
}
.thirdlocation{
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    margin-top: 650px;
    margin-left: 140px;
}
.thirdaddres{
    color: #FFFFFF;
    position: absolute;
    margin-top: 660px;
    margin-left: 180px;
    font-family: sans-serif;
}
.thirdphone{
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    margin-top: 690px;
    margin-left: 140px;
}
.thirdnum{
    color: #FFFFFF;
    position: absolute;
    margin-top: 700px;
    margin-left: 180px;
    font-family: sans-serif;
}
.firstdirection{
    margin-top: 170px;
    margin-left: 150px;
    display: block;
    position: absolute;
    color: white;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    padding: 10px 20px;
    text-decoration: none;
}
.seconddirection{
    color: white;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    position: absolute;
    margin-top: 460px;
    margin-left: 760px;
}
.thirddirection{
    margin-top: 740px;
    margin-left: 150px;
    display: block;
    position: absolute;
    color: white;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    padding: 10px 20px;
    text-decoration: none;
}
.thirdcity{
    height: 200px;
    width: 400px;
    float: right;
    margin-top: 270px;
    margin-right: 180px; 
    border: 2px solid gray;   
}